@tailwind base;
@tailwind components;
@tailwind utilities;

.contract-view-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.contract-view-container .box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px 0 #e2e2e2;
}

@media (max-width: 577px) {
    .contract-view-container .box-wrapper { padding: 15px; }
}

.contract-view-container.light {
    background-color: white;
}

.contract-view-container.dark {
    background-color: hsl(222.2 84% 4.9%);
    color: white;
}

.contract-view-container.dark * {
    color: white !important;
    border-color: #eee5;
}

.contract-view-container.dark .box-wrapper {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #eee5;
}

.contract-view-container.dark header {
    border-bottom: 2px solid #eee5;
}

.contract-view-container.dark .ant-select-selector {
    background-color: transparent;
    border: 1px solid #eee5;
}

.contract-view-container.dark .ant-select-selection-item {
    color: white;
}

.contract-view-container.dark .contract-button-link {
    border: 1px solid #eee5;
    background-color: transparent;
}

.contract-view-container.dark .contract-button-link:hover {
    background-color: #fff2;
}

.contract-view-container.dark .contract-button-link span {
    color: white;
}

.contract-view-container.dark .contract-button-link.active-button-link {
    background-color: white;
}

.contract-view-container.dark .contract-button-link.active-button-link span {
    color: rgb(51, 51, 51) !important;
}


.contract-view-container.dark input,
.contract-view-container.dark input::placeholder {
    background-color: transparent;
    color: white;
}

.contract-view-container.dark .ant-collapse {
    background-color: transparent;
}

.contract-view-container.dark .ant-divider-dashed,
.contract-view-container.dark .ant-collapse {
    border-color: #eee5 !important;
}

.contract-view-container.dark .ant-collapse-content,
.contract-view-container.dark .rasponse-box {
    background-color: transparent;
}

.contract-view-container.dark .ant-collapse-content {
    border-color: #eee5 !important;
}